body{
    background-color: #fff5d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.common{
    /* background-color: #cccccc; */
    border: 2px solid #fff5d7;
    position: absolute;
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 154px;
    z-index: 2;
    border-bottom: solid 1px #fff5d7;
}
.leftmenu{
    top: 140px;
    left: 5px;
    width: 150px;
    bottom: 52px;
    z-index: 1;
    padding-top: 40px;
    border-right: solid 1px #fff5d7;
}
.mainbody{
    top: 168px;
    left: 164px;
    right: 114px;
    bottom: 52px;
    padding-right: 5px;
}
.rightmenu{
    top:168px;
    width: 100px;
    right: 5px;
    bottom: 39px;
    border-left: solid 1px #fff5d7;
    padding-left: 5px;
}
.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #fff5d7;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
.subheading{
    float: right;
}